.card-details {
    display: inline-block;
    width: 210px;
    height: 300px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    
}
.card-details img {
    width: 98%;
}
.price {
    font-weight: bold;
}
.item-title{
    font-size: 17px;
    padding: 5px 0;
    font-weight: bold;
}